In [46]:
import pandas as pd

df_reddit = pd.read_csv("original_datasets/Reddit_Data.csv")
df_twitter = pd.read_csv("original_datasets/Twitter_data.csv")
df_twitter_train = pd.read_csv("original_datasets/twitter_training.csv")
df_twitter_validation = pd.read_csv("original_datasets/twitter_validation.csv")

In [31]:
df_reddit.head()

                                             comment  category
0   family mormon have never tried explain them t...         1
1  buddhism has very much lot compatible with chr...         1
2  seriously don say thing first all they won get...        -1
3  what you have learned yours and only yours wha...         0
4  for your own benefit you may want read living ...         1

In [32]:
df_twitter.head()

                                             comment  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [47]:
df_twitter_train = df_twitter_train.drop('Tweet ID', axis=1)
df_twitter_train = df_twitter_train.drop('entity', axis=1)

df_twitter_train.loc[df_twitter_train['category'] == "Positive", "category"] = 1
df_twitter_train.loc[df_twitter_train['category'] == "Negative", "category"] = -1
df_twitter_train.loc[df_twitter_train['category'] == "Neutral", "category"] = 0
df_twitter_train.loc[df_twitter_train['category'] == "Irrelevant", "category"] = 0

columns_titles = ["comment","category"]
df_twitter_train=df_twitter_train.reindex(columns=columns_titles)

df_twitter_train

                                                 comment category
0      im getting on borderlands and i will murder yo...        1
1      I am coming to the borders and I will kill you...        1
2      im getting on borderlands and i will kill you ...        1
3      im coming on borderlands and i will murder you...        1
4      im getting on borderlands 2 and i will murder ...        1
...                                                  ...      ...
74677  Just realized that the Windows partition of my...        1
74678  Just realized that my Mac window partition is ...        1
74679  Just realized the windows partition of my Mac ...        1
74680  Just realized between the windows partition of...        1
74681  Just like the windows partition of my Mac is l...        1

[74682 rows x 2 columns]

In [48]:
df_twitter_validation = df_twitter_validation.drop('Tweet ID', axis=1)
df_twitter_validation = df_twitter_validation.drop('entity', axis=1)

df_twitter_validation.loc[df_twitter_validation['category'] == "Positive", "category"] = 1
df_twitter_validation.loc[df_twitter_validation['category'] == "Negative", "category"] = -1
df_twitter_validation.loc[df_twitter_validation['category'] == "Neutral", "category"] = 0
df_twitter_validation.loc[df_twitter_validation['category'] == "Irrelevant", "category"] = 0

columns_titles = ["comment","category"]
df_twitter_validation=df_twitter_validation.reindex(columns=columns_titles)

df_twitter_validation.head()

                                             comment category
0  I mentioned on Facebook that I was struggling ...        0
1  BBC News - Amazon boss Jeff Bezos rejects clai...        0
2  @Microsoft Why do I pay for WORD when it funct...       -1
3  CSGO matchmaking is so full of closet hacking,...       -1
4  Now the President is slapping Americans in the...        0

In [50]:
frames = [df_reddit, df_twitter, df_twitter_train, df_twitter_validation]
df_final = pd.concat(frames)

In [58]:
df_final = df_final.sample(frac=1)

In [59]:
df_final.to_csv("comment_dataset_final.csv", index=False)